body{
    height: 17.773333rem;
    background-color: #f9f9f9;
}
/* header start */
header{
    height: 1.226667rem;
    background-color: #fa3432;
    display: flex;
    align-items: center;
}
header .back_img{
    height: .4rem;
    width: .6rem;
    background: url("../img/back.png") no-repeat;
    background-size: .6rem .4rem;
    margin-left: .4rem;
}
header .text{
    font-size: .373333rem;
    color: white;
    flex-grow: 1;
    text-align: center;
}
header .you_img{
    width: .6rem;
    height: .466667rem;
    background: url("../img/more.png")no-repeat;
    background-size: .6rem .466667rem;
    margin-right: .506667rem;
}
/* header end */

/* body start */
.body{  
    width: 100%;
    display: flex;
    background-color: #f9f9f9;
    flex-wrap: wrap;
    justify-content: center;
}
.body .icon_img{
    width: 100%;
    height: 3.866667rem;
    display: flex;
    justify-content: center;
}
.body .icon{
    width: 3.133333rem;
    height: 3.133333rem;
    display: flex;
    background: url("../img/login_img.png")no-repeat;
    background-size: 3.133333rem 3.133333rem;
    margin-top: .733333rem;
    align-items: center;
}
.body .text{
    width: 100%;
    font-size: .346667rem;
    color: #0e0e0e;
    margin: .533333rem 0rem .293333rem .506667rem;  
}
.body .input{
    background-color: #fff;
    width: 9.333333rem;
    height: 1.026667rem;
    border-width: .026667rem;
    border-radius: .093333rem;
    border-style: solid;
    border-color: #eee;
    margin: 0rem .333333rem .306667rem .333333rem;
    display: flex;
    align-items: center;
}
.body .input .img_phone{
    width: .466667rem;
    height: .8rem;
    background: url("../img/phone.png")no-repeat;
    background-size: .466667rem .8rem;
    margin: 0rem .266667rem 0rem .2rem;
}
.body .input input{
    font-size: .4rem;  
    color: #a2a2a2;
    flex-grow: 1;
}
.body .xyb{
    width: 9.226667rem;
    height: 1.08rem;
    background-color: #fa3432;
    font-size: .466667rem;
    color: white;
    border-radius: .133333rem;
    text-align: center;
    line-height: 1.066667rem;
}
.body .bottom_text{
    font-size: .333333rem;   
    margin-top: .266667rem;
    display: flex;
    align-items: center;
}
.body .bottom_text input{
    width: .333333rem;
    height: .333333rem;
    margin: 0 .066667rem 0 0;
}
.body .bottom_text a{
    color: #606060;
}
/* body end */

/* bottom start */
.bottom{
    height: 2.2rem;
    margin-top: 2.4rem;
    border-width: .026667rem;
    border-top-style: solid;
    color: #3a3b3c23;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #fff;
}
.bottom .first{
    height: .373333rem;
    width: 100%;
    text-align: center;
    font-size: .373333rem;
    color: #494848;
    margin: .6rem auto auto auto;
}
.bottom .first a{
    font-size: .373333rem;
    color: #494848;
}
.bottom .second{
    height: .346667rem;
    font-size: .346667rem;
    color: #9a9b9c;
    margin: auto auto .6rem auto;    
}
/* bottom end */